                                                           23rd Feb Assignment

In [1]:
import pandas as pd

In [ ]:
Q1. Ans

data=[4,8,15,16,23,42]

ps=pd.Series(data)

print(ps)

In [ ]:
Q2. Ans

list_data=list(range(1,11))

pandas_series = pd.Series(list_data)

print(pandas_series)

In [ ]:
Q3. Ans

data={"Name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Male","Female"]}

df = pd.DataFrame(data)

print(df)

In [ ]:
Q4. Ans

# What is DataFrame?

A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.Each column of a 
DataFrame is a Pandas Series.

# How is it different from pandas.Series?

i. DataFrame is Two-dimensional whereas pandas.series is One-dimensional

ii. DataFrame is Heterogenous (i.e DataFrame elements can have different data types) whereas pandas.Series is Homogenous (i.e Series
    elements must be of the same data type)

iii.Size-mutable (Elements can be dropped or added in an existing DataFrame) whereas Size-immutable ( Once created, the size of a Series 
    object cannot be changed)



For example

# Creating pandas Series

list_data=list(range(1,11))   

pandas_series = pd.Series(list_data)

print(pandas_series)


# Creating Pandas DataFrame

data={"Name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Male","Female"]}

df = pd.DataFrame(data)

print(df)


Here , We can easily see that in Panda Series only one dimensional array print or display whereas in Pandas DataFrame Two-dimensional array 
print or display

In [ ]:
Q5. Ans

Some common functions we can use to manipulate data in a Pandas DataFrames are :-

i.    df.head(n): It returns first n rows of the DataFrame.
ii.   df.tail(n): It returns last n rows of the DataFrame.
iii.  df.shape: It returns number of rows and columns.
iv.   df.info(): It returns index, Datatype, and memory information.
v.    df.drop() : Removes the column with name 'column_name' from the DataFrame df.
vi.   df.groupby() : Groups rows in a DataFrame by one or more columns and applies a function to each.

example when we might use one of these function :-

Suppose we have a DataFrame 'sales' with columns 'product','region',and 'sales' and we want to compute the total sales for each product by 
region. Then we can use the grupby() function as follows:
    
    sales.groupby(['product','region']).sum()

In [ ]:
Q6. Ans

DataFrame and Panel are mutable in nature.

In [ ]:
Q7. Ans

series1_roll=pd.Series([1,2,3,4,5])

series2_name=pd.Series(["Rahul","Rohit","Rohan","Roy","Ronit"])

df=pd.DataFrame({'Roll':series1_roll,'Name':series2_name})

print(df)

# Explaination

Here , firstly 2 series are created named series1_roll and series2_name then after with the help of these two series the DataFrame is created 
as df which store roll and crossponding name.